textarea {
    width: 80%;
    height: 200px;
}
.therepy-headings {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    margin-top: 25px;
    margin-bottom: 15px;
}
.therepy-select{
    appearance: auto;
}

.search-filter input{
    width: 308px;
    height: 32px;
    padding: 0px 31px;
    font-size: 14px;
}

.search-filter input::placeholder{
  opacity: 1 !important;
  color: #0B394E !important;
}
.search-filter {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.addnote-child {
    background: #FFFFFF;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.21);
    border-radius: 10.8152px;
    padding: 20px;
}
.addnotes-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 30px    ;
}
.addnote-child h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #0B394E;
    margin-bottom: 25px;
}
.addnote-child p{
    font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 15px;
color: #7A93A7;

}
.timing {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.timing p {
    margin: 0;
}
.timing button {
    background: transparent;
    border: none;
    padding: 0;
}
.timing .btn:hover {
    color: transparent;
    background-color: transparent;
    border-color: transparent;
}
.addone-value p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12.93px;
    line-height: 27px;
    color: #FF4F5A;
    margin: 0;
}
.addone-value{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background: #F5FBFF;
    border: 1.3519px solid #FF4F5A;
    border-radius: 10.8152px;
    box-shadow: none;
}
.short button{
    background: transparent;
    border: none;
}
.calendar-modal .modal-dialog{
    max-width: 400px !important;
  }
  .calendar-modal .modal-content{
    padding: 20px;
  }
  .fc-scroller {
    height: auto!important;
    overflow-y: auto;
}
/* responsive work  ***************************************************************************/
@media(max-width:992px){
    .addnotes-wrapper {
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  }
  @media screen and (max-width: 767px){
    .addnotes-wrapper {
      grid-template-columns: 1fr 1fr 1fr;
  }
}
@media  screen and (max-width:576px) {
    .addnotes-wrapper {
        grid-template-columns: 1fr 1fr ;
    }
    .search-filter {
        gap: 10px;
    }
    .search-filter input {
        width: 60%;
    }
}

.search-filter .short{
    color: #8A8A8A;
    font-size: 13px;
    font-weight: 600;
}